.App {
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
}

.particles {
	color: #fff;
	background-color: #fff;
}

.welcome-msg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
